.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage*
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

/.env

# Virtual environments
# Virtual environments
venv/
.env/
.envi/
env/
 environment
.envi/

# Chroma data
chroma_data/
uploads/
*.pickle
client_secret_1019005830189-pmjdbmhte1ueqp7j07rqhq2qfn2jkpr5.apps.googleusercontent.com.json
